@using RDFEngine
@using MagBlazor.Models;

@if (m == null) { return; }

<p class="grad">
    <a href="view" class="nov"><img src="images/ico-home.gif" class="ico-home" alt="" />Электронный архив</a>
    &raquo;
    @m.tp
    &raquo;
    @m.name
</p>


<div class="heading1">
    <h1>
        @m.name
    </h1>
</div>

@if (externalId != null)
{
    string pr = "/view/" + m.prev + "/" + externalId;
    string d = "/view/" + externalId;
    string nx = "/view/" + m.next + "/" + externalId;
    <div style="text-align: center;">
        <NavLink href="@d">к документу</NavLink>
        &nbsp;
        @if (m.prev == null)
        {
            <span>пред.</span>
        }
        else
        {
            <NavLink href="@pr"><span>пред.</span></NavLink>
        }
        &nbsp;
        @if (m.next == null)
        {
            <span>след.</span>
        }
        else
        {
            <NavLink href="@nx"><span>след.</span></NavLink>
        }
    </div>
}

@if (!string.IsNullOrEmpty(m.uri) && m.Tp == "http://fogid.net/o/photo-doc")
{
    string sr = "/Docs/GetImage?u=" + m.uri + "&s=medium";
    <div style="text-align: center;">
        <img src="@sr" />
    </div>
}
else if (!string.IsNullOrEmpty(m.uri) && m.Tp == "http://fogid.net/o/video-doc")
{
    string sr = "/Docs/GetVideo?u=" + m.uri;
    <div style="text-align: center;">
        <video src="@sr" />
    </div>
}

<table cellpadding="0" cellspacing="0" border="0" width="100%" class="info-person">
    @if (!string.IsNullOrEmpty(m.fd) || !string.IsNullOrEmpty(m.td))
    {
        <tr valign="top">
            <td width="25%" class="line-name">Дата(ы):</td>
            <td width="75%" class="line-info">
                @(m.dates)
            </td>
        </tr>
    }
    @if (!string.IsNullOrEmpty(m.description))
    {
        <tr valign="top">
            <td width="25%" class="line-name">Описание документа:</td>
            <td width="75%" class="line-info">@m.description</td>
        </tr>
    }
    @if (m.indoc_parts != null && m.indoc_parts.Count() > 0)
    {
        <tr>
            <td class="doc-show-small">&nbsp;</td>
            <td class="doc-show-small">
                @foreach (var docpart in m.indoc_parts)
                {
                    RRecord pitem = docpart.GetDirect("http://fogid.net/o/partItem");
                    string nm = pitem.GetName();
                    string uri = pitem.GetField("http://fogid.net/o/uri");

                    if (uri != null && uri.StartsWith("iiss://"))
                    {
                        string sr = "/Docs/GetImage?u=" + uri + "&s=small";
                        string lnk = "/view/" + pitem.Id + "/" + m.Id;
                        <div class="show-small">
                            <NavLink href="@lnk">
                                <img src="@sr" border="0" vspace="10" hspace="10" alt="" />
                            </NavLink>
                            <br />
                            @docpart.GetField("http://fogid.net/o/pageNumbers")
                        </div>
                    }
                    else
                    {
                        <div class="show-small">
                            <a href="@uri">
                                <img src="/images/photo.jpg" />
                            </a>
                            <br />
                            @docpart.GetField("http://fogid.net/o/pageNumbers")
                        </div>
                    }
                }
            </td>
        </tr>
    }
    @if (!string.IsNullOrEmpty(m.doccontent))
    {
        <tr valign="top">
            <td width="25%" class="line-name">Текст документа:</td>
            <td width="75%" class="line-info">@m.doccontent</td>
        </tr>
    }
    @if (m.indoc_reflections != null && m.indoc_reflections.Count() > 0)
    {
        string sep = "";
        <tr valign="top">
            <td width="25%" class="line-name">Отраженные персонажи:</td>
            <td width="75%" class="line-info">
                @foreach (var refle in m.indoc_reflections.Where(re => re != null))
                {
                    RRecord who = refle.GetDirect("http://fogid.net/o/reflected");
                    string lnk = "/view/" + who.Id;
                    @sep; sep = ", "; <NavLink href='@lnk'>@who.GetName()</NavLink>;
                }
            </td>
        </tr>
    }

    @if (m.titles != null && m.titles.Count() > 0)
    {
        <tr valign="top">
            <td width="25%" class="line-name">Титул:</td>
            <td width="75%" class="line-info">
                @foreach (RRecord tit in m.titles)
                {
                    string dts = tit.GetDates();
                    <span>@tit.GetField("http://fogid.net/o/degree")</span>
                    if (!string.IsNullOrEmpty(dts))
                    {
                        <span> (@dts) </span>
                    }
                    <br />
                }
            </td>
        </tr>
    }
    @if (m.works != null && m.works.Count() > 0)
    {
        <tr valign="top">
            <td width="25%" class="line-name">Место работы:</td>
            <td width="75%" class="line-info">
                @foreach (var work in m.works.OrderBy(w => w.GetField("http://fogid.net/o/from-date")))
                {
                    var org = (new RXEngine()).GetRRecord(work.GetDirectResource("http://fogid.net/o/in-org"));
                    string nm = org.GetName();
                    string dt = work.GetDates();
                    <a href='/view/@org.Id'>@nm</a>
                    if (!string.IsNullOrEmpty(dt))
                    {
                        <span>(@dt)</span>
                    }
                    <br />
                }
            </td>
        </tr>
    }
    @if (m.notworks != null && m.notworks.Count() > 0)
    {
        <tr valign="top">
            <td width="25%" class="line-name">Участие в мероприятиях:</td>
            <td width="75%" class="line-info">
                @foreach (var nwork in m.notworks.OrderBy(w => w.GetField("http://fogid.net/o/from-date")))
                {
                    var org = (new RXEngine()).GetRRecord(nwork.GetDirectResource("http://fogid.net/o/in-org"));
                    string nm = org.GetName();
                    string dt = nwork.GetDates();
                    string dto = org.GetDates();
                    <a href='/view/@org.Id'>@nm</a>
                    if (!string.IsNullOrEmpty(dt))
                    {
                        <span>(@dt)</span>
                    }
                    else if (!string.IsNullOrEmpty(dto))
                    {
                        <span>(@dto)</span>
                    }
                    <br />
                }
            </td>
        </tr>
    }
    @if (m.livings != null && m.livings.Count() > 0)
    {
        <tr valign="top">
            <td width="25%" class="line-name">Геоинформация:</td>
            <td width="75%" class="line-info">
                @foreach (var live in m.livings)
                {
                    var place = (new RXEngine()).GetRRecord(live.GetDirectResource("http://fogid.net/o/location-place"));
                    <a href='/view/@place.Id'>@place.GetName()</a>
                    <span>&nbsp;</span>
                    <span>@(live.GetField("http://fogid.net/o/location-category"))</span>
                }
            </td>
        </tr>
    }

    <!--   Из раздела org-sys    -->

    @if (m.participants.Count() > 0)
    {
        string word = m.isorg ? "работник" : "участник";
        <tr valign="top">
            <td width="25%" class="line-name">@word:</td>
            <td width="75%" class="line-info">
                @foreach (var participant in m.participants.Where(pa => pa.GetField("http://fogid.net/o/role-classification") == "director"))
                {
                    var personage = (new RXEngine()).GetRRecord(participant.GetDirectResource("http://fogid.net/o/participant"));
                    string dts = participant.GetDates();
                    string role = participant.GetField("http://fogid.net/o/role");
                    string lnk = "view/" + personage.Id;
                    <NavLink href='@lnk'>@personage.GetName()</NavLink>
                    <span>@role</span>
                    if (!string.IsNullOrEmpty(dts))
                    {
                        <span>(@dts)</span>
                    }
                    <br />
                }
                @foreach (var participant in m.participants.Where(pa => pa.GetField("http://fogid.net/o/role-classification") != "director")
 .OrderBy(pa => pa.GetName()))
                {
                    var personage = (new RXEngine()).GetRRecord(participant.GetDirectResource("http://fogid.net/o/participant"));
                    if (personage == null) { continue; }
                    string dts = participant.GetDates();
                    string role = participant.GetField("http://fogid.net/o/role");
                    <a href='view/@personage.Id'>@personage.GetName()</a>
                    <span>@role</span>
                    if (!string.IsNullOrEmpty(dts))
                    {
                        <span>(@dts)</span>
                    }
                    <br />
                }

                @*@foreach (XElement participant in m.participants.Where(pa => SObjects.GetField(pa, "http://fogid.net/o/role-classification") != "director")
                    .OrderBy(pa => SObjects.GetField(pa, "http://fogid.net/o/name")))
                        {
                            XElement personage = participant.Element("direct")?.Element("record");
                            if (personage == null) { continue; }
                            string dts = SObjects.GetDates(participant);
                            string role = SObjects.GetField(participant, "http://fogid.net/o/role");
                            <a href='~/Home/Portrait?id=@personage.Attribute("id").Value'>@SObjects.GetField(personage, "http://fogid.net/o/name")</a>
                            <span>@role</span>
                            if (!string.IsNullOrEmpty(dts))
                            {
                                <span>(@dts)</span>
                            }
                            <br />
                        }*@
            </td>
        </tr>
    }


</table>
<br />
<br />

<hr />
<div>@look</div>
<table cellpadding="0" cellspacing="0" border="0" width="100%" class="info-person">
    @{
        string fd = mm.GetField(1);
        string td = mm.GetField(2);
        string description = mm.GetField(3);
    }
    @if (!string.IsNullOrEmpty(fd) || !string.IsNullOrEmpty(td))
    {
        string dates = (fd == null ? "" : fd) + (string.IsNullOrEmpty(td) ? "" : "-" + td);
        <tr valign="top">
            <td width="25%" class="line-name">Дата(ы):</td>
            <td width="75%" class="line-info">
                @(dates)
            </td>
        </tr>
    }
    @if (!string.IsNullOrEmpty(description))
    {
        <tr valign="top">
            <td width="25%" class="line-name">Описание документа:</td>
            <td width="75%" class="line-info">@description</td>
        </tr>
    }
    @{ RRecord[] indoc_parts = mm.GetMultiInverse(10); }
    @if (indoc_parts != null && indoc_parts.Count() > 0)
    {
        <tr>
            <td class="doc-show-small">&nbsp;</td>
            <td class="doc-show-small">
                @foreach (var docpart in indoc_parts)
                {
                    RRecord pitem = docpart.GetDirect("http://fogid.net/o/partItem");
                    string nm = pitem.GetName();
                    string uri = pitem.GetField("http://fogid.net/o/uri");

                    if (uri != null && uri.StartsWith("iiss://"))
                    {
                        string sr = "/Docs/GetImage?u=" + uri + "&s=small";
                        string lnk = "/view/" + pitem.Id + "/" + mm.Id;
                        <div class="show-small">
                            <NavLink href="@lnk">
                                <img src="@sr" border="0" vspace="10" hspace="10" alt="" />
                            </NavLink>
                            <br />
                            @docpart.GetField("http://fogid.net/o/pageNumbers")
                        </div>
                    }
                    else
                    {
                        <div class="show-small">
                            <a href="@uri">
                                <img src="/images/photo.jpg" />
                            </a>
                            <br />
                            @docpart.GetField("http://fogid.net/o/pageNumbers")
                        </div>
                    }
                }
            </td>
        </tr>
    }
    @{  string doccontent = mm.GetField(5); }
    @if (!string.IsNullOrEmpty(doccontent))
    {
        <tr valign="top">
            <td width="25%" class="line-name">Текст документа:</td>
            <td width="75%" class="line-info">@doccontent</td>
        </tr>
    }
    @if (m.indoc_reflections != null && m.indoc_reflections.Count() > 0)
    {
        string sep = "";
        <tr valign="top">
            <td width="25%" class="line-name">Отраженные персонажи:</td>
            <td width="75%" class="line-info">
                @foreach (var refle in m.indoc_reflections.Where(re => re != null))
                {
                    RRecord who = refle.GetDirect("http://fogid.net/o/reflected");
                    string lnk = "/view/" + who.Id;
                    @sep; sep = ", "; <NavLink href='@lnk'>@who.GetName()</NavLink>;
                }
            </td>
        </tr>
    }

</table>


@code {
    [Parameter]
    public RRecord focusrecord { get; set; }

    [Parameter]
    public string externalId { get; set; }

    private PortraitModel4 m = null;
    private RRecord mm = null;

    protected override void OnInitialized() // = On Page Load
    {
        Build();
    }
    protected override void OnParametersSet() // = On Page Load
    {
        Build();
    }
    private string look;
    private void Build()
    {
        if (focusrecord != null)
        {
            m = new PortraitModel4(focusrecord, externalId);
            mm = PortraitModel5.BuildMultiTree(focusrecord.Id, format);
            look = mm.Id + " " + mm.Tp + " " + mm.Props.Length;
        }

    }
    RRecord format = new RRecord
    {
        Props = new RProperty[]
    {
@*0*@ new RField { Prop = "http://fogid.net/o/name" },
@*1*@ new RField { Prop = "http://fogid.net/o/from-date" },
@*2*@ new RField { Prop = "http://fogid.net/o/to-date" },
@*3*@ new RField { Prop = "http://fogid.net/o/description" },
@*4*@ new RField { Prop = "http://fogid.net/o/uri" },
@*5*@ new RField { Prop = "http://fogid.net/o/doc-content" },
@*6*@ new RInverse { Prop = "http://fogid.net/o/has-title" },
@*7*@ new RInverse { Prop = "http://fogid.net/o/participant" },
@*8*@ new RInverse { Prop = "http://fogid.net/o/something", IRec = new RRecord { Props = new RProperty[]
                        {
                            new RField { Prop = "http://fogid.net/o/location-category" },
                            new RDirect { Prop = "http://fogid.net/o/location-place" }
                        } } },
@*9*@ new RInverse { Prop = "http://fogid.net/o/in-org", IRec = new RRecord { Props = new RProperty[]
                        {
                            new RField { Prop = "http://fogid.net/o/from-date" },
                            new RField { Prop = "http://fogid.net/o/role-classification" },
                            new RField { Prop = "http://fogid.net/o/role" },
                            new RDirect { Prop = "http://fogid.net/o/participant" }
                        }  } },
@*10*@ new RInverse { Prop = "http://fogid.net/o/inDocument", IRec = new RRecord { Props = new RProperty[]
                        {
                            new RField { Prop = "http://fogid.net/o/pageNumbers" },
                            new RDirect { Prop = "http://fogid.net/o/partItem"  }
                        }  } },
@*11*@ new RInverse { Prop = "http://fogid.net/o/in-doc", IRec = new RRecord { Props = new RProperty[]
                        {
                            new RField { Prop = "http://fogid.net/o/ground" },
                            new RDirect { Prop = "http://fogid.net/o/reflected" }
                        }  } },

                                                }
        };

}
